.app {
  display: flex;
  justify-content: center;
  &__container {
    width: 70%;
    min-height: 100vh;
    background: whitesmoke;
    .app__buttons Button {
      margin: 0 20px 15px 0;
      .app--CSV {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.data {
  &__info {
    text-align: center;
    padding-top: 3.5%;
  }
}
